<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sisoft.vm">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.PrintActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Activities.ContactActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Activities.ForgetPswActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.StaffUpdateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ManageStaffActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.VisitorStatusActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ReviewVisitorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.SystemUserUpdateActivity" />
        <activity
            android:name=".Activities.SystemUserActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.VisitDetailActivity" />
        <activity
            android:name=".Activities.StaffAddActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CompletedVisitorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CurrentVisitorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activities.VisitorUpdateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.AdminProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.VisitorRegActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.HomeActivity"
            android:label="Dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SignupActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>